<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); -%>
<body>

  <div class="container">
    <h1>Nuevo producto</h1>
    <%- include('partials/form'); -%>
  </div>
  <script src="http://localhost:8080/script.js"></script>
</body>
</html>
